body{
  background-image: url(//www.salesforce.com/content/dam/web/en_us/www/images/form/general/background-path.jpg);
  overflow-x: hidden;
  background-size: cover;
  background-position: bottom;
}

.head-div{
 margin-top: 35px;
 margin-left: 30px !important;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main-img{
  margin-left: 105px!important;
}

.head{
  margin-left: 15px; 
}

.features{
  margin-left: 25px;
}

.features-head{
  margin-left: 15px;
}

.headfirst{
    font-size: 30px;
}

.headsecond{
  font-size: 25px;
}

.features-heading{
  font-size:16px;
}

.features-details{
  font-size: 12px;
}

.contact .contact-span{
  font-size: 20px;
}